.guide-container{
  margin-top: 30px

}

.guide-top-content{
  width: 50%;
  margin: 0 auto;
}

.img-guide{
  height: 150px;
  width: 150px;
  border-radius: 80px;
}

.guide-name{
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.button-set{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.guide-detail{
  background-color: #C5C1C0;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  height: 30%;

}

.guide-content{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.edit-guide-profile{
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 70px;
  padding: 10px;
  border-radius: 50px;
  height: 70px;
  color: white;
  background-color: #EC643C;
  font-size: 20px;
  vertical-align: middle;
}

.normal-input .ant-input {
  width: 200px;
  margin: 0 -5px -5px 0;
}

.big-input .ant-input {
  margin: 0 -10px 0px 0;
}

.phone-input .ant-input {
  margin: 0 -20px 0px 0;
}

.guide-edit-button{
  text-align: center;
}

.guide-rev-butom-detail{
  text-align: center;
}

.table-operations {
  margin-bottom: 16px;
}

.table-operations > button {
  margin-right: 8px;
}
