.home-dashboard{
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 1%;
}

.customer-box-above{
  margin: auto;
  margin-bottom: 20px;
}

.customer-box-above h3{
  font-size: 2.5rem;
}

.customer-box-above h4{
  font-size: 2rem;
}

.customer-box-above p{
  font-size: 1.5rem;
}

.total-customer, .private-tour, .popular-tour{
  background: #900C3F;
}

.individual-customer, .private-tour{
  background: #C70039;
}

.agency-customer, .public-tour{
  background: #FF5733;
}

.total-customer, .individual-customer, .agency-customer, .public-tour, .private-tour
,.popular-tour{
  padding: 5%;
  text-align: center;
  color: #FBAF9F;
}

.visualize-label .label-box{
  padding-left: 15px;
}

.year-selection, .visualize-label{
  background-color: #FAE9DD;
}

.visualize-label{
  padding-left: 15px;
}

.year-go{
  margin-top: 20px;
}

.visualize-box{
  height: 40vh;
  width: : 100%;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .visualize-box{
    width: : 100%;
    height: 200px;
    margin-bottom: 50px;
  }

   .modal-lg{
      max-width: 800px;
    }
}

.popular-color-label{
  background-color: #FFF8F8;
  padding: 5px;
  margin-bottom: 10px;
}

.little-box-label{
  width: 15px;
  height: 15px;
}

@media (max-width: 800px) {
  .modal-lg{
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .modal-lg{
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  .modal-lg{
    max-width: 350px;
  }
}
