.staff-content{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.staff-list-content{
  padding:5%;
}

.staff-top-content{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3%
}

.staff-wrapper{
  background-color: #C5C1C0;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  height: 30%;
  width: 950px;
}
